body {
  background-color: rgb(0, 155, 155);
  width: 100vw;
  height: 100vh;
  margin: 0px;
  padding: 0;
}

a {
  position: relative;
  width: 160px;
  height: 50px;
  line-height: 48px;
  background-color: rgb(0, 0, 121);
  text-transform: uppercase;
  font-size: 20px;
  letter-spacing: 4px;
  text-decoration: none;
  /* -webkit-box-reflect: below 1px linear-gradient(transparent, #0004); */
  margin-bottom: 50px;
}

a::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    45deg,
    #fb0094,
    #00f,
    rgb(34, 246, 6),
    #ff0,
    #f00,
    #fb0094,
    #00f,
    #0f0,
    #ff0,
    #f00
  );
  background-size: 400%;
  opacity: 0;
  transition: 0.5s;
  animation: animate 20s linear infinite;
}

a::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    45deg,
    #fb0094,
    #00f,
    rgb(34, 246, 6),
    #ff0,
    #f00,
    #fb0094,
    #00f,
    #0f0,
    #ff0,
    #f00
  );
  background-size: 400%;
  opacity: 0;
  filter: blur(20px);
  transition: 0.5s;
  animation: animate 20s linear infinite;
}
a:hover::before,
a:hover::after {
  opacity: 1;
}

@keyframes animate {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 300% 0;
  }
  100% {
    background-position: 0 0;
  }
}
a span {
  position: absolute;
  display: block;
  text-align: center;
  top: 1px;
  left: 1px;
  right: 1px;
  bottom: 1px;
  color: rgb(169, 132, 169);
  background-color: rgb(1, 1, 77);
  z-index: 1;
  transition: 0.5s;
}
a:hover span {
  color: rgb(255, 255, 255);
  font-size: 25px;
}
a span::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 50%;
  background: rgba(255, 255, 255, 0.1);
}

.canvas-div {
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  margin-top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#canvas {
  position: relative;
  border: 6px solid rgb(14, 252, 73);
  box-shadow: 4px 4px 8px grey;
}

#splash {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-direction: column;
  background-image: url("./images/beach\ .jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 80%;
  margin: 20px;
  border: 4px solid rgb(0, 189, 47);
  box-shadow: 4px 4px 8px black;
}
h1 {
  position: absolute;
  width: 100%;
  color: yellow;
  margin-top: 0%;
  font-size: 120px;
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-shadow: 3px 12px 5px rgb(32, 32, 43);
}
#splash h4 {
  width: 80%;
  font-family: "Courier New", Courier, monospace;
  font-size: 4rem;
  text-shadow: none;
  text-align: center;
  color: rgb(4, 255, 0);
  text-shadow: 4px 4px 1px rgb(32, 32, 43);
}

#splash h5 {
  width: 80%;
  font-family: "Courier New", Courier, monospace;
  text-align: center;
  font-size: 3rem;
  color: rgb(4, 255, 0);
  text-shadow: 5px 5px 1px rgb(32, 32, 43);
}
.buttons-div {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  display: flex;
  align-items: flex-end;
  justify-content: space-around;
}

.gameOver-div {
  width: 100vw;
  height: 100vh;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
}

#restart {
  z-index: 100;
  height: 100px;
  width: 250px;
  font-size: 45px;
  background-color: blue;
  color: rgb(225, 225, 255);
  box-shadow: 4px 4px 5px black;
  margin-bottom: 100px;
  border-radius: 20px;
  transition: all 1s ease-in-out;
}

#sound {
  height: 50px;
  width: 130px;
  font-size: 35px;
  background-color: blue;
  color: rgb(225, 225, 255);
  box-shadow: 4px 4px black;
  margin-bottom: 30px;
  border-radius: 10px;
  transition: all 1s ease-in-out;
}

#mute {
  position: relative;
  z-index: 10;
  height: 50px;
  width: 130px;
  font-size: 28px;
  border-radius: 20px;
  background-color: blue;
  color: rgb(225, 225, 255);
  box-shadow: 4px 4px black;
  margin-bottom: 30px;
  border-radius: 10px;
  transition: all 1s ease-in-out;
}

.canvas {
  display: flex;
  align-items: center;
  justify-content: center;
}

#gameOver {
  position: absolute;
  width: 80%;
  height: 80%;
  border: 4px solid grey;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
  text-shadow: 3px 12px rgb(18, 18, 26);
  background-image: url("./images/gameOver.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0px -500px;
}

#gameOver h5 {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 90px;
  margin-top: 0;
  color: rgb(48, 255, 1);
  text-shadow: 8px 8px 2px rgb(32, 32, 43);
}

#gameOver h3 {
  font-size: 70px;
  color: rgb(255, 8, 243);
  text-shadow: 4px 4px 2px rgb(32, 32, 43);
  margin-top: 250px;
}

#restart:hover {
  border: 4px solid white;
  box-shadow: 3px 3px 8px grey;
  transform: rotate3d(1, 1, 1, 360deg);
}
#sound:hover {
  border: 4px solid white;
  box-shadow: 3px 3px 8px grey;
  transform: rotate(720deg);
}
#mute:hover {
  border: 4px solid white;
  box-shadow: 3px 3px 8px grey;
  transform: rotate(720deg);
}
