body{
    background-color: aqua;
    background-image: url("beach .jpeg");
    background-repeat: no-repeat;
    background-size: contain;
}

h1{
    text-shadow: 3px 12px blue
}

.title{
    height: 100px;
    color: yellow;
    font-size: 100px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    align-items: flex-start;
    justify-content: center;
}
.buttons{
    height: 300px;
    display: flex;
    align-items: flex-start;
    justify-content: space-around;

}

#start{
    height: 100px;
    width: 250px;
    font-size: 45px;
    background-color: blue;
    color: burlywood;
    box-shadow: 4px 4px black;
}
 #restart{
    height: 100px;
    width: 250px;
    font-size: 45px;
    background-color: blue;
    color: burlywood;
    box-shadow: 4px 4px black;
 }